<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    [ngClass]="{ 'show': showToast, 'hide': !showToast }"
  >
    <div class="toast-header">
      <strong class="me-auto">{{ toastTitle }}</strong>
      <button type="button" class="btn-close" (click)="hide()" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ toastMessage }}
    </div>
  </div>
</div>
